.footer {
  position: relative;

  padding: 100px 10%;

  text-align: center;

  /* border-top: 1px solid var(--border); */

  overflow: hidden;
}

.footer::before {
  content: '';

  position: absolute;

  inset: 0;

  background: RGBA(124,58,237,0.10);
  background: linear-gradient(0deg,rgba(124,58,237,0.10) 80%, rgba(0, 0, 0, 0) 100%);

  pointer-events: none;
}

.footer span {
  display: block;

  margin-bottom: 10px;

  color: var(--textSoft);

  font-size: 0.9rem;
}

.footer h3 {
  font-size: 2.5rem;

  margin-bottom: 15px;
}

.footer p {
  color: var(--textSoft);
}