.footer {
  padding: 80px 10%;

  text-align: center;

  border-top: 1px solid var(--border);

  background: transparent;

  color: var(--text);

  transition:
    background 0.4s ease,
    color 0.4s ease;
}

.footer h3 {
  font-size: 2rem;

  margin-bottom: 10px;
}

.footer p {
  color: var(--textSoft);
}